<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         colors="true"
         verbose="true">
    <testsuite>
        <directory suffix="Test.php">./src/tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/main</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DEV_MODE" value="true" />
        <env name="DRIVER" value="sqlite" />
        <env name="DB_NAME" value="database/test.db" />
        <env name="VERSION_SYS" value="1.0.0-SNAPSHOT" />
    </php>
</phpunit>
